# .eslintignore

####= RAPTORFrame eslintignore File List
##===========================================================================##

## How to use eslintignore: http://eslint.org/docs/user-guide/configuring.html#ignoring-files-and-directories

frame/
source/javascripts/vendors/
