# .gitignore

####= SuitAndCape .gitignore File List
##===========================================================================##

## How to use .gitignore: https://help.github.com/articles/ignoring-files

## Backup files
*.bak

## Bower local information
bower_components

## Caches and temps
!tmp/cache/.keep
tmp/**/*

## Clojure Leiningen projects
Leiningen.gitignore

## Codekit
.codekit-config.json
config.codekit

## CVS (Concurrent Versions System)
*/.cvsignore
*/CVS/*
/CVS/*
.cvsignore

## Executable and compiled files
*.app
*.class
*.com
*.dll
*.exe
*.out
*.so

## Java mobile tools and crash logs
.mtj.tmp/
hs_err_pid*

## JSPM local information
jspm_packages

## Local databases – make your own, don't share
*.sql
*.sqlite
*.sqlite3
*.sqlite3-journal

## OS X, Linux, and Windows
*.cab
*.lnk
*.msi
*.msm
*.msp
$RECYCLE.BIN/
._*
.apdisk
.directory
.fseventsd
.AppleDB
.AppleDesktop
.AppleDouble
.DocumentRevisions-V100
.DS_Store
.DS_Store?
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
ehthumbs.db
Desktop.ini
Network Trash Folder
Temporary Items
Thumbs.db

## Packages – only raw source files should be commited
*.7z
*.dmg
*.gz
*.iso
*.ear
*.jar
*.rar
*.tar
*.war
*.zip

## Project style and script maps
*.css.map
*.js.map

## Python optimized and temp files
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.Python

## Ruby bin stubs
bin/stubs

## Sass (SCSS) caches
*.sassc
.sass-cache/

## TeX/LaTeX auxiliary files
*.fdb_latexmk
*.fls
*.lo[ft]
*.pdfsync
*.synctex
*.synctex.gz(busy)
*.toc

####= GitHub .gitignore Files
##===========================================================================##

## Based on .gitignore file templates found on GitHub
## SOURCE: https://github.com/github/gitignore

##== Haskell .gitignore (2015-06-29) =========================================#

dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/

##== Node .gitignore (2015-11-05) ============================================#

## Logs
logs
*.log
npm-debug.log*

## Runtime data
pids
*.pid
*.seed

## Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

## Coverage directory used by tools like istanbul
coverage

## Grunt intermediate storage
#(http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## node-waf configuration
.lock-wscript

## Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

## Dependency directory
## https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

## Optional npm cache directory
.npm

## Optional REPL history
.node_repl_history

##== Rails .gitignore (2015-01-21) ===========================================#

  # *.rbc ## Ruby and Rails .gitignore
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
  # /coverage/ ## Ruby and Rails .gitignore
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

## TODO Comment out these rules if you are OK with secrets being uploaded
#to the repo
config/initializers/secret_token.rb
config/secrets.yml

## Environment normalisation:
/.bundle
  # /vendor/bundle ## Ruby and Rails .gitignore

## these should all be checked in to normalise the environment:
  # Gemfile.lock, .ruby-version, .ruby-gemset ## Ruby and Rails .gitignore

## unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
  # .rvmrc  ## Ruby and Rails .gitignore

## if using bower-rails ignore default bower_components path bower.json
#files
/vendor/assets/bower_components
*.bowerrc
bower.json

## Ignore pow environment settings
.powenv

##== Ruby .gitignore (2015-06-25) ============================================#

*.gem
  # *.rbc ## Ruby and Rails .gitignore
/.config
  # /coverage/ ## Ruby and Rails .gitignore
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/

## Specific to RubyMotion:
.dat*
.repl_history
build/

## Documentation cache and generated files:
/.yardoc/
/_yardoc/
/doc/
/rdoc/

## Environment normalisation:
/.bundle/
  # /vendor/bundle ## Ruby and Rails .gitignore
/lib/bundler/man/

## for a library or gem, you might want to ignore these files since the
#code is intended to run in multiple environments; otherwise, check them
#in:
  # Gemfile.lock ## Ruby and Rails .gitignore
  # .ruby-version ## Ruby and Rails .gitignore
  # .ruby-gemset ## Ruby and Rails .gitignore

##== Ruby and Rails .gitignore (2015-06-25) ==================================#

*.rbc
/coverage/

## Environment normalisation:
/vendor/bundle

## RAILS: these should all be checked in to normalise the environment:
## RUBY: for a library or gem, you might want to ignore these files
#since the code is intended to run in multiple environments; otherwise,
#check them in:
# Gemfile.lock
# .ruby-version
# .ruby-gemset

## unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

##== SublimeText .gitignore (2014-09-01) =====================================#

## cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

## workspace files are user-specific
*.sublime-workspace

## project files should be checked into the repository, unless a
#significant proportion of contributors will probably not be using
#SublimeText
# *.sublime-project

## sftp configuration file
sftp-config.json

##== Tags .gitignore (2015-09-14) ============================================#

## Ignore tags created by etags, ctags, gtags (GNU global) and cscope
TAGS
.TAGS
!TAGS/
tags
.tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
cscope.files
cscope.out
cscope.in.out
cscope.po.out

##== TextMate .gitignore (2010-11-22) ========================================#

*.tmproj
*.tmproject
tmtags

##== Unity .gitignore (2015-04-18) ===========================================#

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/

## Autogenerated VS/MD solution and project files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj

## Unity3D generated meta files
*.pidb.meta

## Unity3D Generated File On Crash Reports
sysinfo.txt

##== Vim .gitignore (2015-01-06) =============================================#

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
