// _core.scss

////= Core Setup
//===========================================================================//

/// *1* – Setup box model of border-box on the root element
/// *2* – Make all elements from the DOM inherit from the root box-sizing

html {
  // box-sizing: border-box;     /// *1* ///
  font-family: sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

// *,     /// *2* ///
// *::before,     /// *2* ///
// *::after {     /// *2* ///
//   box-sizing: inherit;     /// *2* ///
// }     /// *2* ///

body {
  background: $primary-bg-color;
  color: $primary-color;
  font: ($body-font-size / 1) $body-font;
  margin: 0;
}

a,
button {
  color: inherit;
  -webkit-transition: $primary-duration;
  transition: $primary-duration;
}

a {
  background-color: transparent;
  color: $quaternary-color;
  text-decoration: none;
}

b,
strong {
  font-weight: bold;
}

blockquote,
dfn {
  font-style: italic;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  overflow: visible;

  &:focus {
    outline: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
p,
ol,
ul,
blockquote,
button,
figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
}

iframe,
img {
  border: 0;
}

img {
  height: auto;
  max-width: 100%;
}

li {
  display: block;
}

sub,
sup {
  font-size: $sm-font-size;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.225em;
}

sup {
  top: -0.45;
}
